body{
    max-width: 700px;
}

#pagebody1{
    width:auto;
    float: left;
}

#pagebody2{
    width: auto;
    float: left;
    padding-left: 70px;
}

#pagebody3{
    width: auto;
    float: left;
    padding-left: 70px;
}


#home{
    background:gainsboro;
    color:black;
    border-radius: 10px;

}

#tw{
    background: rgb(13, 177, 241);
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.container1{
    display: flex;
    flex-direction: column;
}

.container2{
    
    display: flex;
    flex-direction: row;
}

.item1{
    color: black;
    margin: 10px;
    padding: 10px;
}

.item2{
    
    color: black;
    margin: 10px;
    padding: 10px;
}

.item3{
    color: black;
    margin: 10px;
    padding: 10px;
}